<div class="wrapper {{ config.personalize.forecastLayout }} {% if config.personalize.colored %}colored{% endif %} {% if config.display.InlineIcons %}inline-icons{% endif %} {% if config.personalize.forecastHeaderText %}with-forecast-header{% endif %}">

  {% if loading or error %}
      <div class="current-conditions-wrapper">
        <span class="current-conditions-wrapper">
          {% if error %}
            <img class="current icon current" src="modules/MMM-Weather/icons/error.png" />
            <div class="dimmed light small" style="margin-right: 20px">{{ phrases.error | safe }}</div>
          {% else %}
            <img class="current icon current" src="http://openweathermap.org/img/wn/02d@2x.png" />
            <span class="dimmed light small">{{ phrases.loading | safe }}</span>
          {% endif %}
        </span>
      </div>

  {% else %}

    {# -------------- Current Conditions -------------- #}
    {% if config.display.CurrentConditions %}
      <div class="current-conditions-wrapper">
        <span class="current-conditions-wrapper">
          <img class="current icon current" src="{{ forecast.currently.iconPath }}" />
          <span class="current temperature bright large light">{{ forecast.currently.temperature }}</span>
        </span>
      </div>
    {% endif %}

    {# -------------- Extra Current Conditions -------------- #}
    {% if config.display.ExtraCurrentConditions %}
      <div class="extra-current-conditions-wrapper small bright">
        <div class="feels-sun-container">
        {% if config.display.Feels %}
          <span class="feels-temperature">{{ forecast.currently.feels }}</span>
        {% endif %}
        {% if config.display.SunCondition %}
          <span class="wi {{ forecast.currently.sun.icon }}"></span>
          <span class="sun-time">  {{ forecast.currently.sun.time }}</span>
        {% endif %}
        {% if config.display.Humidity %}
          <span class="wi wi-humidity"></span>
          <span class="humidity">  {{ forecast.currently.humidity }}</span>
        {% endif %}
        {% if config.display.UV %}
          <img class="inline-icon uv" src="{{ inlineIcons.uv }}" />
          <span class="uv">  {{ forecast.currently.uv }}</span>
        {% endif %}
        </div>
        <span class="temperature-container">
          <span class="wi wi-thermometer"></span>
          <span class="high-temperature">{{ forecast.currently.tempRange.high }}</span>
          <span class="temperature-separator dimmed">/</span>
          <span class="low-temperature">{{ forecast.currently.tempRange.low }}</span>
        </span>
        <div class="Precip-wind-contener">
            {% if config.display.Precipitation %}
              <span class="precipitation-container">
                {% if (config.display.InlineIcons) %}
                  <img class="inline-icon rain" src="{{ inlineIcons.rain }}" />
                {% endif %}
                <span class="pop">{{ forecast.currently.precipitation.pop }}</span>
                {% if forecast.currently.precipitation.accumulation %}
                  <span class="pop">{{ forecast.currently.precipitation.accumulation }}</span>
                {% endif %}
              </span>
            {% endif %}

            {% if config.display.Wind %}
              <span class="wind-container">
                {% if (config.display.InlineIcons) %}
                  <img class="inline-icon wind-icon" src="{{ inlineIcons.wind }}" />
                {% endif %}
                <span class="wind-speed">{{ forecast.currently.wind.windSpeed }}</span>
                {% if forecast.currently.wind.windDeg %}
                  &nbsp;<span class="fa fa-long-arrow-down {{ forecast.currently.wind.Beaufort }}" style="transform:rotate({{ forecast.currently.wind.windDeg }}deg)"></span>
                {% endif %}
              </span>
            {% endif %}
        </div>
      </div>
    {% endif %}

    {# -------------- Summary -------------- #}
    {% if config.display.Summary %}
      <div class="summary-wrapper small">
        <div class="summary">{{ forecast.summary }}</div>
      </div>
    {% endif %}

    {# -------------- Forecast Title -------------- #}
    {% if not (config.personalize.forecastHeaderText == "") and (config.display.HourlyForecast or config.display.DailyForecast) %}
      <header class="module-header forecast-header">{{ config.personalize.forecastHeaderText | safe }}</header>
    {% endif %}

    {# -------------- Forecast -------------- #}
    {% if config.display.HourlyForecast or config.display.DailyForecast %}
      <div class="forecast-container">

        {% if config.display.ForecastTableColumnHeaderIcons and config.personalize.forecastLayout == "table" %}
          <div class="header-row">
            <span class="date-time-header">&nbsp;</span>
            <span class="weather-icon-header">&nbsp;</span>
            <span class="temperature-header"><span class="wi wi-thermometer"></span></span>

            {% if config.display.Precipitation %}
              <span class="precipitation-header">
                <img class="inline-icon rain" src="{{ inlineIcons.rain }}" />
              </span>
            {% endif %}

            {% if config.display.Wind %}
              <span class="wind-header">
                <img class="inline-icon wind" src="{{ inlineIcons.wind }}" />
              </span>
            {% endif %}
          </div>

        {% endif %}

        {# Hourly #}
        {% if config.display.HourlyForecast %}

          {% for h in forecast.hourly %}
            <div class="forecast-item hourly">
              <span class="time">{{ h.time }}</span>
              <span class="forecast-icon-container">
                <img class="forecast-icon" src="{{ h.iconPath }}" />
              </span>
              <span class="temperature small">{{ h.temperature }}</span>


              {% if config.display.Precipitation %}

                <span class="precipitation-container">
                  {% if (config.display.InlineIcons and config.personalize.forecastLayout == "tiled" ) %}
                    <img class="inline-icon rain" src="{{ inlineIcons.rain }}" />
                  {% endif %}

                  <span class="pop">{{ h.precipitation.pop }}</span>

                  {% if h.precipitation.accumulation %}
                    {% if not config.personalize.concise %}
                      <br>
                    {% endif %}
                    <span class="pop">{{ h.precipitation.accumulation }}</span>
                  {% endif %}
                </span>

              {% endif %}

              {% if config.display.Wind %}
                <span class="wind-container">
                  {% if (config.display.InlineIcons and config.personalize.forecastLayout == "tiled" ) %}
                    <img class="inline-icon wind-icon" src="{{ inlineIcons.wind }}" />
                  {% endif %}

                  <span class="wind-speed">{{ h.wind.windSpeed }}</span>
                  {% if h.wind.windDeg %}
                    &nbsp;<span class="fa fa-long-arrow-down {{ h.wind.Beaufort }}" style="transform:rotate({{ h.wind.windDeg }}deg)"></span>
                  {% endif %}

                </span>

              {% endif %}

            </div>
          {% endfor %}

        {% endif %}

        {# Daily #}
        {% if config.display.DailyForecast %}

          {% for d in forecast.daily %}
            <div class="forecast-item hourly">
              <span class="day-name">{{ d.day }}</span>
              <span class="forecast-icon-container">
                <img class="forecast-icon" src="{{ d.iconPath }}" />
              </span>
              <span class="temperature-container small">
                <span class="high-temperature">{{ d.tempRange.high }}</span>
                {% if config.personalize.concise %}
                  <span class="temperature-separator dimmed">/</span>
                {% else %}
                  <br>
                {% endif %}
                <span class="low-temperature">{{ d.tempRange.low }}</span>
              </span>

              {% if config.display.Precipitation %}
      
                <span class="precipitation-container">
                  {% if (config.display.InlineIcons and config.personalize.forecastLayout == "tiled" ) %}
                    <img class="inline-icon rain" src="{{ inlineIcons.rain }}" />
                  {% endif %}

                  <span class="pop">{{ d.precipitation.pop }}</span>

                  {% if d.precipitation.accumulation %}
                    {% if not config.personalize.concise %}
                      <br>
                    {% endif %}
                    <span class="pop">{{ d.precipitation.accumulation }}</span>
                  {% endif %}
                </span>

              {% endif %}

              {% if config.display.Wind %}
                <span class="wind-container">
                  {% if (config.display.InlineIcons and config.personalize.forecastLayout == "tiled" ) %}
                    <img class="inline-icon wind-icon" src="{{ inlineIcons.wind }}" />
                  {% endif %}

                  <span class="wind-speed">{{ d.wind.windSpeed }}</span>
                  {% if d.wind.windDeg %}
                    &nbsp;<span class="fa fa-long-arrow-down {{ d.wind.Beaufort }}" style="transform:rotate({{ d.wind.windDeg }}deg)"></span>
                  {% endif %}

                </span>

              {% endif %}

            </div>
          {% endfor %}

        {% endif %}

      </div>
    {% endif %}

    <div class="attribution small dimmed">Powered by Open Weather Map - Update {{ update }}</div>
  {% endif %}

</div>
