.MMM-Weather * {
  box-sizing: border-box;
}

.MMM-Weather .wrapper {
  margin-top: -30px;
}

.MMM-Weather .module-content {
  width: 350px;
}

.MMM-Weather .forecast-container .forecast-item .temperature,
.MMM-Weather .forecast-container .forecast-item .temperature-container {
  color: #FFFFFF;
}

.MMM-Weather .temperature .low-temperature,
.MMM-Weather .temperature-container .low-temperature {
  color: #AAA;
}

.MMM-Weather .wrapper.colored .temperature .high-temperature,
.MMM-Weather .wrapper.colored .temperature-container .high-temperature {
  color: #F8DD70;
}

.MMM-Weather .wrapper.colored .temperature .low-temperature,
.MMM-Weather .wrapper.colored .temperature-container .low-temperature {
  color: #6FC4F5;
}

.MMM-Weather .accumulation:before {
  content: " ";
}

.MMM-Weather .attribution {
  font-size: 10px;
  line-height: 16px;
  color: #333;
  text-align: right;
}

/* Current Conditions */

.MMM-Weather .current-conditions-wrapper .current.temperature {
  line-height: 80px;
  vertical-align: middle;
}

.MMM-Weather .current-conditions-wrapper .icon {
  vertical-align: middle;
  line-height: 80px;
  margin-right: 40px;
  width: 120px;
  height: 120px;
  display: inline-block;
  position: relative;
}

.MMM-Weather .extra-current-conditions-wrapper {
  display: block;
  word-wrap: normal;
}


/* Inline icons */
.MMM-Weather .inline-icon,
.MMM-Weather .wrapper.tiled .forecast-container .forecast-item .inline-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 0px;
  vertical-align: bottom;
  position: relative;
}

.MMM-Weather .extra-current-conditions-wrapper .feels-sun-container .inline-icon {
    width: 16px;
    height: 16px;
    transform: translate(0, -5px);
}

/* Extra Current Conditions */

.MMM-Weather .extra-current-conditions-wrapper .temperature-container,
.MMM-Weather .extra-current-conditions-wrapper .precipitation-container,
.MMM-Weather .extra-current-conditions-wrapper .wind-container {
  display: inline-block;
  white-space: nowrap;
  margin-left: auto;
}

.MMM-Weather .extra-current-conditions-wrapper .Precip-wind-contener {
  display: flex;
}

.MMM-Weather .extra-current-conditions-wrapper .temperature-container .wi-thermometer {
  font-size: 80%;
  transform: translate(0, -1px);
  margin-right: 5px;
}

.MMM-Weather .forecast-container .forecast-item .wind-container .fa-long-arrow-down,
.MMM-Weather .extra-current-conditions-wrapper .Precip-wind-contener .wind-container .fa-long-arrow-down {
  font-size: 90%;
  display: inline-block;
}

/* Beaufort color */
.MMM-Weather .forecast-container .forecast-item .wind-container .Beaufort0,
.MMM-Weather .extra-current-conditions-wrapper .Precip-wind-contener .wind-container .Beaufort0 {
  color: #FFFFFF;
}

.MMM-Weather .forecast-container .forecast-item .wind-container .Beaufort1,
.MMM-Weather .extra-current-conditions-wrapper .Precip-wind-contener .wind-container .Beaufort1 {
  color: #AEF1F9;
}

.MMM-Weather .forecast-container .forecast-item .wind-container .Beaufort2,
.MMM-Weather .extra-current-conditions-wrapper .Precip-wind-contener .wind-container .Beaufort2 {
  color: #96F7DC;
}

.MMM-Weather .forecast-container .forecast-item .wind-container .Beaufort3,
.MMM-Weather .extra-current-conditions-wrapper .Precip-wind-contener .wind-container .Beaufort3 {
  color: #96F7B4;
}

.MMM-Weather .forecast-container .forecast-item .wind-container .Beaufort4,
.MMM-Weather .extra-current-conditions-wrapper .Precip-wind-contener .wind-container .Beaufort4 {
  color: #6FF46F;
}

.MMM-Weather .forecast-container .forecast-item .wind-container .Beaufort5,
.MMM-Weather .extra-current-conditions-wrapper .Precip-wind-contener .wind-container .Beaufort5 {
  color: #73ED12;
}

.MMM-Weather .forecast-container .forecast-item .wind-container .Beaufort6,
.MMM-Weather .extra-current-conditions-wrapper .Precip-wind-contener .wind-container .Beaufort6 {
  color: #A4ED12;
}

.MMM-Weather .forecast-container .forecast-item .wind-container .Beaufort7,
.MMM-Weather .extra-current-conditions-wrapper .Precip-wind-contener .wind-container .Beaufort7 {
  color: #DAED12;
}

.MMM-Weather .forecast-container .forecast-item .wind-container .Beaufort8,
.MMM-Weather .extra-current-conditions-wrapper .Precip-wind-contener .wind-container .Beaufort8 {
  color: #EDC212;
}

.MMM-Weather .forecast-container .forecast-item .wind-container .Beaufort9,
.MMM-Weather .extra-current-conditions-wrapper .Precip-wind-contener .wind-container .Beaufort9 {
  color: #ED8F12;
}

.MMM-Weather .forecast-container .forecast-item .wind-container .Beaufort10,
.MMM-Weather .extra-current-conditions-wrapper .Precip-wind-contener .wind-container .Beaufort10 {
  color: #ED6312;
}

.MMM-Weather .forecast-container .forecast-item .wind-container .Beaufort11,
.MMM-Weather .extra-current-conditions-wrapper .Precip-wind-contener .wind-container .Beaufort11 {
  color: #ED2912;
}

.MMM-Weather .forecast-container .forecast-item .wind-container .Beaufort12,
.MMM-Weather .extra-current-conditions-wrapper .Precip-wind-contener .wind-container .Beaufort12 {
  color: #D5102D;
}


.MMM-Weather .extra-current-conditions-wrapper .feels-sun-container .wi-sunset {
  color: orange;
  font-size: 80%;
}

.MMM-Weather .extra-current-conditions-wrapper .feels-sun-container .wi-sunrise {
  color: yellow;
  font-size: 80%;
}

.MMM-Weather .extra-current-conditions-wrapper .feels-sun-container .wi-humidity {
  color: #167ac6;
  font-size: 80%;
  transform: translate(0, -1px);
}

/* Summary */

.MMM-Weather .summary {
  margin: 10px 0;
}


/* Forecast Header */

.MMM-Weather .module-header.forecast-header {
  margin-top: 20px;
  margin-bottom: 0;
}

/* ------------ Forecast ------------ */

/* Tiled Layout */

.MMM-Weather .wrapper.tiled .forecast-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  margin-bottom: 0 30px;
  border-top: solid 1px #222;
}

.MMM-Weather .wrapper.with-forecast-header.tiled .forecast-container {
  border-top: none;
}

.MMM-Weather .wrapper.tiled .forecast-container .forecast-item {
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 100px;
  padding: 10px 5px 10px 5px;
  border-bottom: solid 1px #222;
}


.MMM-Weather .wrapper.tiled .forecast-container * {
  text-align: center;
}

.MMM-Weather .wrapper.tiled .forecast-container .forecast-item .time,
.MMM-Weather .wrapper.tiled .forecast-container .forecast-item .forecast-icon-container,
.MMM-Weather .wrapper.tiled .forecast-container .forecast-item .forecast-icon,
.MMM-Weather .wrapper.tiled .forecast-container .forecast-item .temperature,
.MMM-Weather .wrapper.tiled .forecast-container .forecast-item .temperature-container,
.MMM-Weather .wrapper.tiled .forecast-container .forecast-item .precipitation-container,
.MMM-Weather .wrapper.tiled .forecast-container .forecast-item .wind-container,
.MMM-Weather .wrapper.tiled .forecast-container .forecast-item .day-name {
  display: block;
  margin: auto;
}

.MMM-Weather .wrapper.tiled .forecast-container .forecast-item .forecast-icon {
  width: 70px;
  height: 70px;
  margin: 4px auto;
}

.MMM-Weather .wrapper.tiled .forecast-container .forecast-item .time,
.MMM-Weather .wrapper.tiled .forecast-container .forecast-item .day-name {
  font-size: 17px;
  text-transform: uppercase;
}


.MMM-Weather .wrapper.tiled .forecast-container .forecast-item .wind-speed {
  display: inline-block;
  white-space: nowrap;
}

.MMM-Weather .wrapper.tiled .forecast-container .forecast-item .temperature,
.MMM-Weather .wrapper.tiled .forecast-container .forecast-item .temperature-container {
  font-size: 22px;
  padding: 4px 0;
}


.MMM-Weather .wrapper.tiled .forecast-container .forecast-item .precipitation-container,
.MMM-Weather .wrapper.tiled .forecast-container .forecast-item .wind-container {
  font-size: 17px;
  line-height: 1.5;
}

/* ------------ Table Layout ------------ */

.MMM-Weather .wrapper.table .forecast-container {
  display: table;
  border-collapse: collapse;
  width: 100%;
  font-size: 17px;
  line-height: 1;
  border-bottom: solid 1px #222;
}

.MMM-Weather .wrapper.table .forecast-container .forecast-item,
.MMM-Weather .wrapper.table .forecast-container .header-row {
  display: table-row;
  border-top: solid 1px #222;
}

.MMM-Weather .wrapper.with-forecast-header.table .forecast-container > div:first-child,
.MMM-Weather .wrapper.table .forecast-container .header-row {
  border-top: none;
}

.MMM-Weather .wrapper.table .forecast-container .header-row .date-time-header {
  text-align: left;
  overflow: visible;
}

.MMM-Weather .wrapper.table .forecast-container .forecast-item > span,
.MMM-Weather .wrapper.table .forecast-container .header-row > span {
  display: table-cell;
  font-size: 17px;
  text-align: center;
  vertical-align: middle;
  height: 40px;
  white-space: nowrap;
}



.MMM-Weather .wrapper.table .forecast-container .header-row > span {
  height: 32px;
  font-size: 14px;
  text-transform: uppercase;
  vertical-align: bottom;
  padding-bottom: 2px;
}


.MMM-Weather .wrapper.table .forecast-container .forecast-item > span:first-child {
  text-align: left;
}
.MMM-Weather .wrapper.table .forecast-container .forecast-item > span:last-child {
  text-align: right;
}

.MMM-Weather .wrapper.table .forecast-container .forecast-item .forecast-icon {
  width: 40px;
  height: 40px;
  display: block;
  vertical-align: middle;
}

.MMM-Weather .wrapper.table .forecast-container .forecast-item .time,
.MMM-Weather .wrapper.table .forecast-container .forecast-item .high-temperature,
.MMM-Weather .wrapper.table .forecast-container .forecast-item .low-temperature, {
  white-space: nowrap;
}

.MMM-Weather .wrapper.table .forecast-container .forecast-item .accumulation {
  display: block;
  white-space: nowrap;
}

.MMM-Weather .wrapper.table .forecast-container .header-row .temperature-header {
  transform: translate(0, -1px);
  font-size: 17px;
}
